<%= simple_form_for @flow, defaults: { input_html: { class: 'span6' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :amount %>
    <%= f.input :earn, as: :boolean, label: false, inline_label: true,
      input_html: { class: '' } %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
